# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vscode

# The two subdirectories are experimental for now
sup_def/clang/**
sup_def/gcc/**
test
test.cpp
test_copied.cpp
test_coro.cpp
build/*
!**CMakeLists.txt

coro_impl1
coro_impl2

bug.cc
bug

normal.log
test_locales.cpp

blabla.txt
blah.txt

generator_reference_impl.cpp

sup_def/common/unistreams/impl/compiled/generated/**

sup_def/third_party/gnulib_modules/gnulib_build/**

test_c_bitset.h
test.c
test.cc