[submodule "sup_def/third_party/gnulib"]
	path = sup_def/third_party/gnulib
	url = https://git.savannah.gnu.org/git/gnulib.git
[submodule "sup_def/third_party/chaos-pp"]
	path = sup_def/third_party/chaos-pp
	url = https://github.com/rofl0r/chaos-pp.git
