[submodule "sup_def/third_party/gnulib"]
	path = sup_def/third_party/gnulib
	url = https://git.savannah.gnu.org/git/gnulib.git
[submodule "sup_def/third_party/chaos-pp"]
	path = sup_def/third_party/chaos-pp
	url = https://github.com/rofl0r/chaos-pp.git
[submodule "sup_def/third_party/patterns"]
	path = sup_def/third_party/patterns
	url = https://github.com/mpark/patterns.git
[submodule "sup_def/third_party/simdutf"]
	path = sup_def/third_party/simdutf
	url = https://github.com/simdutf/simdutf.git
[submodule "sup_def/third_party/magic_enum"]
	path = sup_def/third_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "sup_def/third_party/incbin"]
	path = sup_def/third_party/incbin
	url = https://github.com/graphitemaster/incbin.git
